<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h1 class="text-center">Product Details</h1>
        </div>
        <div class="card-body p-5">
            <div *ngIf="product">
                <div>
                    <strong>Id: </strong>
                    <label>{{product.id}}</label>
                </div>
                <div>
                    <strong>Name: </strong>
                    <label>{{product.name}}</label>
                </div>
                <div>
                    <strong>Entry Date: </strong>
                    <label>{{product.entryDate | date:'longDate' }}</label>
                </div>
                <div>
                    <strong>Price for today: </strong>
                    <label>{{product.priceWithReduction | currency: 'EUR' : 'symbol' : '1.2-2' }}</label>
                </div>
            </div>
            <div *ngIf="error">
                <strong>Product not found. Please try again later.</strong>
            </div>
        </div>
        <div class="card-footer">
            <button class="btn btn-info" style="margin-left: 2rem;" routerLink="/products">Back</button>
        </div>
    </div>
</div>